<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit | AudioCloud</title>
		<link rel="stylesheet" href="/css/global.css" />
		<link rel="stylesheet" href="/css/delete.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
		<link rel="manifest" href="../favicons/site.webmanifest">
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#3ea6ff">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#3ea6ff">
		<script>
			// EJS Variables
			const information =  <%- data %>;
		</script>
		<script defer type="module" src="../js/delete/delete_item.js"></script>
		<script defer src="/js/global.js"></script>
		
	</head>
	<body>
		<header id="page-header">
			<div class="icon-spacing-right" id="menu">
				<a id="menu-link" href="/"
					>				<img class="icons icon-spacing-right" src="../svg/musical-notes-outline.svg" alt="music-note" />
					<span><span class="bold">A</span>udioCloud</span></a
				>
			</div>
			<form class="row" action="/search">
				<input
					class="std_btn no_margin_right"
					spellcheck="true"
					placeholder="Search for music ..."
					type="search"
					name="query"
					id="searchquery_input"
				/>
				<input type="hidden" name="mediatype" value="" />
				<input type="hidden" name="type" value="search" />
				<select name="mode" class="std_btn no_padding-top-bot">
					<option value="standard">Standard</option>
					<option value="strict">Strict</option>
				</select>
				<button
					class="std_btn square_button no_margin_left center"
					onclick="return validation(this.parentElement.children[0])"
					type="submit"
				>
				<img class="icons" src="../svg/search-outline.svg" alt="search" />

				</button>
			</form>
			<div class="center" id="account-icon-container">
				<img id="account-icon" src="../svg/account.svg" class="icons" alt="account-icon">
			</div>
			<div id="account-card" visibility="false">
				<header id="account-card-header">
					<img id="account-icon" src="../svg/account_filled.svg" class="icons icon-size-large" alt="">
				</header>
				<a id="settings-btn" class="account-item" ><div class="account-item-icon"><img class="icons" src="../svg/settings.svg" alt=""></div><div class="item-string">Settings</div></a>
				<a href="/upload" class="account-item" ><div class="account-item-icon"><img class="icons" src="../svg/cloud_upload.svg" alt=""></div><div class="item-string">Upload</div></a>
				<a href="/edit" class="account-item" ><div class="account-item-icon"><img class="icons" src="../svg/pen.svg" alt=""></div><div class="item-string">Edit</div></a>
				<a href="/delete" class="account-item" ><div class="account-item-icon"><img class="icons" src="../svg/bin.svg" alt=""></div><div class="item-string">Delete</div></a>
			</div>
		</header>
		<main class="center">
			<div>
				<div><h2 id="heading"></h2></div>
                <form id="delete_confirm_form" method="post">
				<div><button type="button" class="std_btn" onclick="window.history.go(-1)">No, command back</button><button type="submit" class="std_btn">Yes, delete</button></div>
			</div></form>
		</main>
	</body>
</html>
