<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AudioCloud</title>
		<link rel="stylesheet" href="./css/global.css" />
        <link rel="stylesheet" href="./css/search.css">
		<script defer src="./js/searchformValidation.js"></script>
		<script>
			// EJS Variables
			const media = <%- data %>;
		</script>
		<script defer src="../js/delete/delete_results.js"></script>
	</head>
	<body>
		<header>
			<div class="icon-spacing-right" id="menu">
				<a id="menu-link" href="/"
					><img class="icons icon-spacing-right" src="../svg/musical-notes-outline.svg" alt="music-note" /><span><span class="bold">A</span>udioCloud</span></a
				>
			</div>
			<button class="std_btn"><a href="/upload">Upload</a></button>
			<button class="std_btn"><a href="/delete">Delete</a></button>
			<form class="row" action="/search">
				<input
					class="std_btn no_margin_right"
					spellcheck="true"
					placeholder="Search for music ..."
					type="search"
					name="query"
					id="searchquery_input"
				/>
				<input type="hidden" name="mediatype" value="" />
				<input type="hidden" name="type" value="search" />
				<select name="mode" class="std_btn no_padding-top-bot">
					<option value="standard">Standard</option>
					<option value="strict">Strict</option>
				</select>
				<button
					class="std_btn square_button no_margin_left"
					onclick="return validation(this.parentElement.children[0])"
					type="submit"
				>
				<img class="icons" src="../svg/search-outline.svg" alt="search" />

				</button>
			</form>
		</header>
		<main>
        </main>
		<template id="noresults">
			<div class="center">
				<h2>No results found</h2>
				<div>Try different keywords</div>
			</div>
		</template>
	</body>
</html>
