<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit | AudioCloud</title>
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/search.css" />
		<script defer src="../js/modal.js"></script>
		<script defer src="../js/global.js"></script>
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png" />
		<link rel="manifest" href="../favicons/site.webmanifest" />
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#3ea6ff" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#3ea6ff" />
	</head>
	<body>
		<header id="page-header">
			<div class="icon-spacing-right" id="menu">
				<a id="menu-link" href="/">
					<img class="icons icon-spacing-right" src="/assets/svg/musical-notes-outline.svg" alt="music-note" />
					<span class="bold">AudioCloud</span>
				</a>
			</div>
			<div class="AudioCloud-nav-bar">
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/'" >
					Start
				</div>
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/library'">library</div>
				<div class="AudioCloud-nav-bar-item nav-search" id="nav-search-btn">Search</div>
				<div id="AudioCloud-nav-bar-search-wrapper">
					<div id="AudioCloud-nav-bar-search-innerwrapper">
						<form id="AudioCloud-nav-bar-search" action="/search">
							<div id="input-wrapper">
								<img id="input-arrow-back" src="/assets/svg/arrow-back-outline.svg" alt="" />
								<input
									autocomplete="off"
									class="std_btn no-margin noborder nav-search"
									spellcheck="true"
									placeholder="Search for music ..."
									type="search"
									name="query"
									id="searchquery_input"
								/>
							</div>
							<input type="hidden" name="mediatype" value="" />
							<input type="hidden" name="type" value="search" />
							<select name="mode" class="std_btn no-margin no_padding-top-bot nav-search noborder">
								<option value="standard">Standard</option>
								<option value="strict">Strict</option>
							</select>
							<button
								class="std_btn noborder no-margin square_button no_margin_left center nav-search"
								onclick="return validation(this.parentElement.children[0])"
								type="submit"
							>
								<img class="icons nav-search" src="../assets/svg/search-outline.svg" alt="search" />
							</button>
						</form>
						<div id="searchHistory" class="nav-search"></div>
					</div>
				</div>
			</div>
			<div class="center" id="account-icon-container">
				<img id="account-icon" src="../assets/svg/account.svg" class="icons" alt="account-icon" />
			</div>
			<div id="account-card" visibility="false">
				<header id="account-card-header">
					<img id="account-icon" src="../assets/svg/account_filled.svg" class="icons icon-size-large icon-spacing-right"" alt="" /><AudioCloud-Heading><div class="center"><%- data.user.username %></div></AudioCloud-Heading>
				</header>
				<div id="first-account-card-inner-wrapper" class="account-card-inner-wrapper">
					<a href="/profile" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../assets/svg/account.svg" alt="" /></div>
						<div class="item-string">Profile</div></a
					>
					<a href="/auth/<%- data.user.status.route %>" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../assets/svg/<%- data.user.status.svg %>.svg" alt="" /></div>
						<div class="item-string"><%- data.user.status.text %></div></a
					>
				</div>
				<div class="account-card-inner-wrapper">
					<a id="settings-btn" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../assets/svg/settings.svg" alt="" /></div>
						<div class="item-string">Settings</div></a
					>
					<a href="/history" class="account-item"
						><div class="account-item-icon">
							<img class="icons" src="../assets/svg/search-history-outline.svg" alt="" />
						</div>
						<div class="item-string">History</div></a
					>
					<a href="/upload" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../assets/svg/cloud_upload.svg" alt="" /></div>
						<div class="item-string">Upload</div></a
					>
					<a href="/edit" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../assets/svg/pen.svg" alt="" /></div>
						<div class="item-string">Edit</div></a
					>
					<a href="/delete" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../assets/svg/bin.svg" alt="" /></div>
						<div class="item-string">Delete</div></a
					>
					<a href="/impressum" class="account-item"
						><div class="account-item-icon">
							<img class="icons" src="../assets/svg/open-in-new-outline.svg" alt="" />
						</div>
						<div class="item-string">Impressum</div></a
					>
				</div>
			</div>
		</header>
		<main class="center">
			<div>
				<form action="/search" id="search-form">
					<input id="search" name="query" placeholder="Search" class="std_btn" type="text" />
					<input type="hidden" name="mode" value="strict" />
					<input type="hidden" name="type" value="edit" />
					<input type="button" value="Filter" class="std_btn" id="showModal" />
					<input
						type="submit"
						onclick="return validation(this.parentElement.children[0])"
						class="std_btn"
						value="Search"
					/>
					<dialog id="filter-Modal">
						<div>
							<div id="filter-wrapper">
								<label for="filter-all"
									>All<input checked type="radio" value="" name="mediatype" id="filter-all" /></label
								><label for="filter-audio"
									>Audio<input type="radio" value="audio" name="mediatype" id="filter-audio" /></label
								><label for="filter-video"
									>Video<input type="radio" value="video" name="mediatype" id="filter-video"
								/></label>
							</div>
							<br /><input class="std_btn" id="closeModal" type="button" value="Close" />
						</div>
					</dialog>
				</form>
			</div>
		</main>
		<template id="searchHistory-Temp">
			<div class="searchHistory-item nav-search">
				<div class="searchHistory-item-img nav-search center">
					<img class="nav-search" height="24px" width="24px" src="/assets/svg/search-history-outline.svg" alt="" />
				</div>
				<div class="nav-search"></div>
				<div class="center nav-search delete-suggestion ds">
					<img class="nav-search ds" src="/assets/svg/bin.svg" height="24px" width="24px" alt="" />
				</div>
			</div>
		</template>
	</body>
</html>
