<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Start | AudioCloud</title>
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/libary.css" />
		<script defer src="../js/libary.js"></script>
		<script defer src="../js/global.js"></script>
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png" />
		<link rel="manifest" href="../favicons/site.webmanifest" />
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#3ea6ff" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#3ea6ff" />
		<script defer>
			const playlists = <%- data.playlists %>;
		</script>
	</head>
	<body>
		<header id="page-header">
			<div class="icon-spacing-right" id="menu">
				<a id="menu-link" href="/">
					<img class="icons icon-spacing-right" src="../svg/musical-notes-outline.svg" alt="music-note" />
					<span><span class="bold">A</span>udioCloud</span>
				</a>
			</div>
			<div class="AudioCloud-nav-bar">
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/'">Start</div>
				<div class="AudioCloud-nav-bar-item" data-page="current" onclick="window.location.href = '/libary'">
					Libary
				</div>
				<div class="AudioCloud-nav-bar-item nav-search" id="nav-search-btn">Search</div>
				<form id="AudioCloud-nav-bar-search" action="/search">
					<input
						class="std_btn no-margin nav-search"
						spellcheck="true"
						placeholder="Search for music ..."
						type="search"
						name="query"
						id="searchquery_input"
					/>
					<input type="hidden" name="mediatype" value="" />
					<input type="hidden" name="type" value="search" />
					<select name="mode" class="std_btn no-margin no_padding-top-bot nav-search">
						<option value="standard">Standard</option>
						<option value="strict">Strict</option>
					</select>
					<button
						class="std_btn no-margin square_button no_margin_left center nav-search"
						onclick="return validation(this.parentElement.children[0])"
						type="submit"
					>
						<img class="icons nav-search" src="../svg/search-outline.svg" alt="search" />
					</button>
				</form>
			</div>
			<div class="center" id="account-icon-container">
				<img id="account-icon" src="../svg/account.svg" class="icons" alt="account-icon" />
			</div>
			<div id="account-card" visibility="false">
				<header id="account-card-header">
					<img id="account-icon" src="../svg/account_filled.svg" class="icons icon-size-large" alt="" />
				</header>
				<a id="settings-btn" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/settings.svg" alt="" /></div>
					<div class="item-string">Settings</div></a
				>
				<a href="/upload" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/cloud_upload.svg" alt="" /></div>
					<div class="item-string">Upload</div></a
				>
				<a href="/edit" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/pen.svg" alt="" /></div>
					<div class="item-string">Edit</div></a
				>
				<a href="/delete" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/bin.svg" alt="" /></div>
					<div class="item-string">Delete</div></a
				>
			</div>
		</header>
		<dialog id="settings">
			<header>
				<AudioCloud-Heading> Settings </AudioCloud-Heading>
				<div><img src="../svg/close.svg" id="settings-close" class="icons iron-icon" alt="close" /></div>
			</header>
			<div id="settings-page">
				<div id="settings-listbox">
					<div class="settings-item" data-active="true">General</div>
					<div class="settings-item">Playback</div>
				</div>
				<div id="settings-content-wrapper">
					<div id="settings-content-general">
						<div class="settings-content-row">
							<div>
								Audio on playback only
								<div class="item-string item-paragraph">
									if disabled and a video track is provided, the video will play. (Needs reload)
								</div>
							</div>
							<label class="switch">
								<input type="checkbox" id="video_playback_switch" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
					<div id="settings-content-playback">
						<div class="settings-content-row">
							<div>
								<div class="item-string"></div>
							</div>
							<label class="switch">
								<input type="checkbox" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</dialog>
		<dialog id="create-playlist-modal">
			<header>
				<AudioCloud-Heading> New Playlist </AudioCloud-Heading>
			</header>
			<div>
				<div id="create-playlist-input-wrapper">
					<form autocomplete="off" id="playlist-form">
						<input type="text" placeholder="title" class="createPlaylist-form-input" name="title"/>
						<input
							type="text"
							placeholder="description"
							class="createPlaylist-form-input"
							id="create-playlist-desc"
							name="description"
						/>
				</div>
						<div id="create-playlist-footer">
							<button id="create-playlist-close" class="std_btn">Cancel</button
							><button type="submit" class="std_btn" onclick="return validation(this.parentElement.parentElement.children[0].children[0].children[0], true)">Create</button>
						</div>
					</form>
				
			</div>
		</dialog>
		<main>
			<div class="libary-content-wrapper">
				<div id="recent-songs">
					<div>Recent Songs</div>
				</div>
			</div>
			<div class="libary-content-wrapper">
				<div id="Libary-Playlists">
					<div id="createPlaylist-item" class="playlist-item">
						<div class="playlist-thumbnail center">
							<img class="icons icon-size-large" src="../svg/add.svg" alt="" />
						</div>
						<div class="playlist-title">New Playlist</div>
					</div>
				</div>
			</div>
		</main>
		<template id="card-template">
			<div class="playlist-item">
				<a><div class="playlist-thumbnail center">
					<object data="/svg/playlist-thumbnail.svg"> </object>
				</div></a>
				<a class="underline_link"><div class="playlist-title" title></div></a>
			</div>
		</template>
	</body>
</html>
