<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Start | AudioCloud</title>
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/library.css" />
		<script defer src="/js/contextmenu.js"></script>
		<script defer src="/js/library.js"></script>
		<script defer src="/js/global.js"></script>
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png" />
		<link rel="manifest" href="../favicons/site.webmanifest" />
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#3ea6ff" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#3ea6ff" />
		<script defer>
			const playlists = <%- data.playlists %>;
			const recent = <%- data.recent %>;
		</script>
	</head>
	<body>
		<header id="page-header">
			<div class="icon-spacing-right" id="menu">
				<a id="menu-link" href="/">
					<img class="icons icon-spacing-right" src="/svg/musical-notes-outline.svg" alt="music-note" />
					<span class="bold">AudioCloud</span>
				</a>
			</div>
			<div class="AudioCloud-nav-bar">
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/'" >
					Start
				</div>
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/library'" data-page="current">library</div>
				<div class="AudioCloud-nav-bar-item nav-search" id="nav-search-btn">Search</div>
				<div id="AudioCloud-nav-bar-search-wrapper">
					<div id="AudioCloud-nav-bar-search-innerwrapper">
						<form id="AudioCloud-nav-bar-search" action="/search">
							<div id="input-wrapper">
								<img id="input-arrow-back" src="/svg/arrow-back-outline.svg" alt="" />
								<input
									autocomplete="off"
									class="std_btn no-margin noborder nav-search"
									spellcheck="true"
									placeholder="Search for music ..."
									type="search"
									name="query"
									id="searchquery_input"
								/>
							</div>
							<input type="hidden" name="mediatype" value="" />
							<input type="hidden" name="type" value="search" />
							<select name="mode" class="std_btn no-margin no_padding-top-bot nav-search noborder">
								<option value="standard">Standard</option>
								<option value="strict">Strict</option>
							</select>
							<button
								class="std_btn noborder no-margin square_button no_margin_left center nav-search"
								onclick="return validation(this.parentElement.children[0])"
								type="submit"
							>
								<img class="icons nav-search" src="../svg/search-outline.svg" alt="search" />
							</button>
						</form>
						<div id="searchHistory" class="nav-search"></div>
					</div>
				</div>
			</div>
			<div class="center" id="account-icon-container">
				<img id="account-icon" src="../svg/account.svg" class="icons" alt="account-icon" />
			</div>
			<div id="account-card" visibility="false">
				<header id="account-card-header">
					<img id="account-icon" src="../svg/account_filled.svg" class="icons icon-size-large" alt="" />
				</header>
				<div id="first-account-card-inner-wrapper" class="account-card-inner-wrapper">
					<a id="settings-btn" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/logout.svg" alt="" /></div>
						<div class="item-string">Log out</div></a
					>
				</div>
				<div class="account-card-inner-wrapper">
					<a id="settings-btn" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/settings.svg" alt="" /></div>
						<div class="item-string">Settings</div></a
					>
					<a href="/history" class="account-item"
						><div class="account-item-icon">
							<img class="icons" src="../svg/search-history-outline.svg" alt="" />
						</div>
						<div class="item-string">History</div></a
					>
					<a href="/upload" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/cloud_upload.svg" alt="" /></div>
						<div class="item-string">Upload</div></a
					>
					<a href="/edit" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/pen.svg" alt="" /></div>
						<div class="item-string">Edit</div></a
					>
					<a href="/delete" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/bin.svg" alt="" /></div>
						<div class="item-string">Delete</div></a
					>
					<a href="/impressum" class="account-item"
						><div class="account-item-icon">
							<img class="icons" src="../svg/open-in-new-outline.svg" alt="" />
						</div>
						<div class="item-string">Impressum</div></a
					>
				</div>
			</div>
		</header>
		<dialog id="settings">
			<header>
				<AudioCloud-Heading> Settings </AudioCloud-Heading>
				<div><img src="../svg/close.svg" id="settings-close" class="icons iron-icon" alt="close" /></div>
			</header>
			<div id="settings-page">
				<div id="settings-listbox">
					<div class="settings-item" data-active="true">General</div>
					<div class="settings-item">Playback</div>
				</div>
				<div id="settings-content-wrapper">
					<div id="settings-content-general">
						<div class="settings-content-row">
							<div>
								Audio on playback only
								<div class="item-string item-paragraph">
									if disabled and a video track is provided, the video will play. (Needs reload)
								</div>
							</div>
							<label class="switch">
								<input type="checkbox" id="video_playback_switch" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
					<div id="settings-content-playback">
						<div class="settings-content-row">
							<div>
								<div class="item-string"></div>
							</div>
							<label class="switch">
								<input type="checkbox" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</dialog>
		<dialog id="create-playlist-modal">
			<header>
				<AudioCloud-Heading> New Playlist </AudioCloud-Heading>
			</header>
			<div>
				<div id="create-playlist-input-wrapper">
					<form autocomplete="off" id="playlist-form">
						<input type="text" placeholder="title" class="createPlaylist-form-input" name="title"/>
						<input
							type="text"
							placeholder="description"
							class="createPlaylist-form-input"
							id="create-playlist-desc"
							name="description"
						/>
				</div>
						<div id="create-playlist-footer">
							<button type="reset" id="create-playlist-close" class="std_btn">Cancel</button
							><button type="submit" class="std_btn" onclick="return validation(this.parentElement.parentElement.children[0].children[0].children[0], true)">Create</button>
						</div>
					</form>
				
			</div>
		</dialog>
		<main>
			<div class="library-content-wrapper">
				<div id="recent-songs">
					<AudioCloud-Heading class="Showcase-heading"
					><h2 class="media-showcase-row-heading">Recent Activity</h2>
					<div class="navigation-tracks">
							<a id="history-icon-link" href="/history"><img class="iron-icon" height="32px" width="32px" src="/svg/search-history-outline.svg" alt="" /></a>
						<button class="navigate-round-btn" disabled id="row-previous">
							<img height="40px" width="40px" src="/svg/Navigate-Before-outline.svg" alt="" /></button
						><button class="navigate-round-btn" id="row-next">
							<img height="40px" width="40px" src="/svg/Navigate-Next-outline.svg" alt="" />
						</button>
					</div>
				</AudioCloud-Heading>
					<div id="recent-songs-box">--- No recent activity detected ---</div>
				</div>
			</div>
			</div>
			<div class="library-content-wrapper" id="playlist-wrapper">
				<h2>Playlists</h2>
				<div id="library-Playlists">
					<div class="playlist-item">
						<div id="createPlaylist-thumbnail" class="playlist-thumbnail center">
							<img class="icons icon-size-large" src="../svg/add.svg" alt="" />
						</div>
						<div class="playlist-title"><a id="createPlaylist-string" class="underline_link">New Playlist</a></div>
					</div>
				</div>
			</div>
		</main>
		<div id="contextmenu">
			<div class="account-item" id="addToPlaylist">
				<div class="account-item-icon"><img class="icons" src="../svg/add.svg" alt="" /></div>
				<div class="item-string">Add to Playlist</div>
			</div>
			<div class="account-item">
				<div class="account-item-icon"><img class="icons" src="../svg/add.svg" alt="" /></div>
				<div class="item-string">Share</div>
			</div>
			<div class="account-item"></div>
		</div>
		<div id="notification-banner"></div>
		<template id="card-template-playlist">
			<div class="playlist-item">
				<div class="playlist-thumbnail">
					<a class="fullspace center"><img playlist-thumbnail class="icon-size-large" src="/svg/playlist-thumbnail.svg" /></a>
				</div>
				<div class="playlist-title" ><a class="underline_link" title></a></div>
			</div>
		</template>
		<template id="searchHistory-Temp">
			<div class="searchHistory-item nav-search">
				<div class="searchHistory-item-img nav-search center">
					<img class="nav-search" height="24px" width="24px" src="/svg/search-history-outline.svg" alt="" />
				</div>
				<div class="nav-search"></div>
				<div class="center nav-search delete-suggestion ds" ><img class="nav-search ds" src="/svg/bin.svg" height="24px" width="24px" alt=""></div>
			</div>
		</template>
		<template id="card-template">
			<div class="box">
				<div class="img-outer">
					<a link>
						<span class="img-wrapper"
							><div class="img-hover">
								<img src="../svg/play-sharp.svg" class="icons" alt="play" />
							</div>
							<img thumbnail id="start-showcase" /></span
					></a>
				</div>
				<div class="Media_Showcase_Title" title></div>
			</div>
		</template>
		<dialog id="addToPlaylist-playlist-wrapper">
			<header class="modal_heading">
				<AudioCloud-Heading>Choose Playlist</AudioCloud-Heading>
				<div>
					<img
						src="../svg/close.svg"
						id="addToPlaylist-playlist-wrapper-close"
						class="icons iron-icon"
						alt="close"
					/>
				</div>
			</header>
			<div></div>
		</dialog>
	</body>
</html>
