<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AudioCloud</title>
		<script defer>
			// EJS Variables
			const filename = <%- JSON.stringify(data.medium) %>;
			const information = <%- data.info %>;
		</script>
		<script defer src="../js/player.js"></script>
		<script defer src="../js/searchformValidation.js"></script>
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/player.css" />
	</head>
	<body>
		<header>
			<div id="menu" class="icon-spacing-right">
				<a id="menu-link" href="/"
					><img class="icons icon-spacing-right" src="../svg/musical-notes-outline.svg" alt="music-note" /><span
						><span class="bold">A</span>udioCloud</span
					></a
				>
			</div>
			<form class="row" action="/search">
				<input
					class="std_btn no_margin_right"
					spellcheck="true"
					placeholder="Search for music ..."
					type="search"
					name="query"
					id="searchquery_input"
				/>
				<input type="hidden" name="mediatype" value="" />
				<input type="hidden" name="type" value="search" />
				<select name="mode" class="std_btn no_padding-top-bot">
					<option value="standard">Standard</option>
					<option value="strict">Strict</option>
				</select>
				<button
					class="std_btn square_button no_margin_left"
					onclick="return validation(this.parentElement.children[0])"
					type="submit"
				>
				<img class="icons" src="../svg/search-outline.svg" alt="search" />
				</button>
			</form>
		</header>
		<main>
			<div id="video-wrapper">
				<AudioCloud-Song-Media-Controls>
					<div id="player-video-controles">
						<span id="fullscreen-btn" class="player-video-controles-item center"
							><img src="../svg/fullscreen-sharp.svg" class="icons player-video-controles-icon icon-size-large" alt="fullscreen"></span>
					</div>
				</AudioCloud-Song-Media-Controls>
			</div>
			<div id="container">
				<div id="information">
					<div id="player_inner_wrapper">
						<div id="player_title-wrapper">
							<AudioCloud-TrackTitle-outer
								><AudioCloud-TrackTitle-inner></AudioCloud-TrackTitle-inner
							></AudioCloud-TrackTitle-outer>
							<AudioCloud-AddedOn></AudioCloud-AddedOn>
						</div>
						<AudioCloud-Description></AudioCloud-Description>
						<AudioCloud-Artist></AudioCloud-Artist>
					</div>
				</div>
				<section id="next_media">
					<div id="next_media_list"></div>
				</section>
			</div>
			<AudioCloud-Controls>
				<input
					type="range"
					min="0"
					max="100"
					step="any"
					value="0"
					onchange="change_duration()"
					id="player-track-duration-slider"
					class="player-track-sliders"
				/>
				<progress
					max="100"
					value="0"
					class="player-track-sliders"
					id="player-track-buffered-progress"
				></progress>
				<AudioCloud-Controles-inner>
					<div id="player-autoplay">
						Autoplay
						<label class="switch">
							<input type="checkbox" onclick="autoplay_switch()" id="player-autoplay-checkbox" />
							<span class="slider"></span>
						</label>
					</div>
					<div id="player-controles">
						<button type="button" class="std-btn-round" id="previous_track" onclick="previous_song()">
							<img class="icons" src="../svg/play-skip-back.svg" alt="skip-back" />
						</button>
						<button type="button" class="std-btn-round" id="player-play" onclick="justplay()">
							<img class="icons icon-size-large" src="../svg/play.svg" alt="play" />
						</button>
						<button type="button" class="std-btn-round" id="next_track" onclick="next_song()">
							<img class="icons" src="../svg/play-skip-forward.svg" alt="skip-forward" />
						</button>
					</div>
					<div id="volume-wrapper">
						<p id="volume_show">90</p>
						<i class="fa fa-volume-up" aria-hidden="true" onclick="mute_sound()" id="volume_icon">HELLO</i>
						<input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume">  
					 </div>
				</AudioCloud-Controles-inner>
			</AudioCloud-Controls>
		</main>
		<template id="card-template">
			<div class="next_media_item">
				<span class="next_media_item-img-wrapper"><img thumbnail height="32px" width="32px" /></span>
				<div>
					<div class="Media_Showcase_Title"><strong title></strong></div>
					<div class="Media_Showcase_Artist" artist></div>
				</div>
			</div>
		</template>
	</body>
</html>
