<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AudioCloud</title>
		<script defer>
			// EJS Variables
			const filename = <%- JSON.stringify(data.medium) %>;
			const information = <%- data.info %>;
		</script>
		<script defer src="../js/player.js"></script>
		<script defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<link rel="stylesheet" href="../css/player.css" />
		<link rel="stylesheet" href="../css/global.css" />
	</head>
	<body>
		<header>
		 <div id="menu"><a id="menu-link" href="/"><ion-icon name="musical-notes-outline"></ion-icon><span><span class="bold">A</span>udioCloud</span></a></div>
		</header>
		<main>
			<div id="video-wrapper"></div>
			<div id="container">
				<div id="spacing"></div>
				<div id="information">
					<AudioCloud-TrackTitle></AudioCloud-TrackTitle>
                    <AudioCloud-Description></AudioCloud-Description>
                    <AudioCloud-Artist></AudioCloud-Artist>
                    <AudioCloud-AddedOn></AudioCloud-AddedOn>
				</div>
			</div>
		</main>
	</body>
</html>
