<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AudioCloud</title>
		<script defer>
			// EJS Variables
			const filename = <%- JSON.stringify(data.medium) %>;
			const information = <%- data.info %>;
		</script>
		<script defer src="../js/RetrieveThumbnail.js"></script>
		<script defer src="../js/player.js"></script>
		<script defer src="../js/searchformValidation.js"></script>
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/player.css" />
	</head>
	<body>
		<header>
			<div id="menu" class="icon-spacing-right">
				<a id="menu-link" href="/"
					><img
						class="icons icon-spacing-right"
						src="../svg/musical-notes-outline.svg"
						alt="music-note"
					/><span><span class="bold">A</span>udioCloud</span></a
				>
			</div>
			<form class="row" action="/search">
				<input
					class="std_btn no_margin_right"
					spellcheck="true"
					placeholder="Search for music ..."
					type="search"
					name="query"
					id="searchquery_input"
				/>
				<input type="hidden" name="mediatype" value="" />
				<input type="hidden" name="type" value="search" />
				<select name="mode" class="std_btn no_padding-top-bot">
					<option value="standard">Standard</option>
					<option value="strict">Strict</option>
				</select>
				<button
					class="std_btn square_button no_margin_left"
					onclick="return validation(this.parentElement.children[0])"
					type="submit"
				>
					<img class="icons" src="../svg/search-outline.svg" alt="search" />
				</button>
			</form>
		</header>
		<main>
			<div id="video-wrapper">
				<div id="player-video-controles">
					<span id="pip-btn" class="player-video-controles-item center">
						<img src="../svg/miniplayer-sharp.svg" alt="miniplayer" />
					</span>
					<span id="fullscreen-btn" class="player-video-controles-item center"
						><img
							src="../svg/fullscreen-sharp.svg"
							class="icons player-video-controles-icon icon-size-large"
							alt="fullscreen"
					/></span>
				</div>
				<AudioCloud-Controls fullscreen="false">
					<input
						type="range"
						min="0"
						max="100"
						step="any"
						value="0"
						id="player-track-duration-slider"
						class="player-track-sliders"
					/>
					<progress
						max="100"
						value="0"
						class="player-track-sliders"
						id="player-track-buffered-progress"
					></progress>
					<AudioCloud-Controles-inner>
						<div id="player-autoplay">
							Autoplay
							<label class="switch">
								<input type="checkbox" id="player-autoplay-checkbox" />
								<span class="slider"></span>
							</label>
						</div>
						<div id="player-controles">
							<div id="player-controles-timestamp">
								<span id="player-controles-timestamp-currentTime">NaN</span>&nbsp;/&nbsp;<span
									id="player-controles-timestamp-duration"
									>NaN</span
								>
							</div>
							<div id="player-controles-basic-btn">
								<button type="button" class="std-btn-round" id="previous_track">
									<img class="icons" src="../svg/play-skip-back.svg" alt="skip-back" />
								</button>
								<button type="button" class="std-btn-round" id="player-play">
									<svg viewBox="0 0 24 24">
										<path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
									  </svg>
								</button>
								<button type="button" class="std-btn-round" id="next_track">
									<img class="icons" src="../svg/play-skip-forward.svg" alt="skip-forward" />
								</button>
							</div>
						</div>
						<div id="volume-wrapper">
							<input type="range" min="0" step="any" max="100" id="volume" />
							<img class="icons" id="volume_icon" src="../svg/volume-high-outline.svg" alt="volume-high" />
						</div>
					</AudioCloud-Controles-inner>
				</AudioCloud-Controls>
			</div>
			<div id="container">
				<div id="information">
					<div id="player_inner_wrapper">
						<div id="player_title-wrapper">
							<AudioCloud-TrackTitle-outer
								><AudioCloud-TrackTitle-inner></AudioCloud-TrackTitle-inner
							></AudioCloud-TrackTitle-outer>
							<AudioCloud-AddedOn></AudioCloud-AddedOn>
						</div>
						<AudioCloud-Description></AudioCloud-Description>
						<AudioCloud-Artist></AudioCloud-Artist>
					</div>
				</div>
				<section id="next_media">
					<div id="next_media_list"></div>
				</section>
			</div>
			
		</main>
		<template id="card-template">
			<div class="next_media_item">
				<span class="next_media_item-img-wrapper"><img thumbnail height="32px" width="32px" /></span>
				<div>
					<div class="Media_Showcase_Title"><strong title></strong></div>
					<div class="Media_Showcase_Artist" artist></div>
				</div>
			</div>
		</template>
	</body>
</html>
