<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AudioCloud</title>
		<script defer>
			// EJS Variables
			const filename = <%- JSON.stringify(data.medium) %>;
			const information = <%- data.info %>;
		</script>
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png" />
		<link rel="manifest" href="../favicons/site.webmanifest" />
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#3ea6ff" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#3ea6ff" />
		<script defer src="../js/global.js"></script>
		<script defer src="../js/player.js"></script>
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/player.css" />
	</head>
	<body>
		<header id="page-header">
			<div class="icon-spacing-right" id="menu">
				<a id="menu-link" href="/">
					<img class="icons icon-spacing-right" src="../svg/musical-notes-outline.svg" alt="music-note" />
					<span><span class="bold">A</span>udioCloud</span>
				</a>
			</div>
			<div class="AudioCloud-nav-bar">
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/'">Start</div>
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/libary'">Libary</div>
				<div class="AudioCloud-nav-bar-item nav-search" data-page="current" id="nav-search-btn">Search</div>
				<div id="AudioCloud-nav-bar-search-wrapper">
					<div id="AudioCloud-nav-bar-search-innerwrapper">
						<form id="AudioCloud-nav-bar-search" action="/search">
							<div id="input-wrapper">
								<img id="input-arrow-back" src="/svg/arrow-back-outline.svg" alt="" />
								<input
									autocomplete="off"
									class="std_btn no-margin noborder nav-search"
									spellcheck="true"
									placeholder="Search for music ..."
									type="search"
									name="query"
									id="searchquery_input"
								/>
							</div>
							<input type="hidden" name="mediatype" value="" />
							<input type="hidden" name="type" value="search" />
							<select name="mode" class="std_btn no-margin no_padding-top-bot nav-search noborder">
								<option value="standard">Standard</option>
								<option value="strict">Strict</option>
							</select>
							<button
								class="std_btn noborder no-margin square_button no_margin_left center nav-search"
								onclick="return validation(this.parentElement.children[0])"
								type="submit"
							>
								<img class="icons nav-search" src="../svg/search-outline.svg" alt="search" />
							</button>
						</form>
						<div id="searchHistory"></div>
					</div>
				</div>
			</div>
			<div class="center" id="account-icon-container">
				<img id="account-icon" src="../svg/account.svg" class="icons" alt="account-icon" />
			</div>
			<div id="account-card" visibility="false">
				<header id="account-card-header">
					<img id="account-icon" src="../svg/account_filled.svg" class="icons icon-size-large" alt="" />
				</header>
				<a id="settings-btn" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/settings.svg" alt="" /></div>
					<div class="item-string">Settings</div></a
				>
				<a href="/upload" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/cloud_upload.svg" alt="" /></div>
					<div class="item-string">Upload</div></a
				>
				<a href="/edit" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/pen.svg" alt="" /></div>
					<div class="item-string">Edit</div></a
				>
				<a href="/delete" class="account-item"
					><div class="account-item-icon"><img class="icons" src="../svg/bin.svg" alt="" /></div>
					<div class="item-string">Delete</div></a
				>
			</div>
		</header>
		<dialog id="settings">
			<header>
				<AudioCloud-Heading> Settings </AudioCloud-Heading>
				<div><img src="../svg/close.svg" id="settings-close" class="icons iron-icon" alt="close" /></div>
			</header>
			<div id="settings-page">
				<div id="settings-listbox">
					<div class="settings-item" data-active="true">General</div>
					<div class="settings-item">Playback</div>
				</div>
				<div id="settings-content-wrapper">
					<div id="settings-content-general">
						<div class="settings-content-row">
							<div>
								Audio on playback only
								<div class="item-string item-paragraph">if disabled and a video track is provided, the video will play. (Needs reload)</div>
							</div>
							<label class="switch">
								<input type="checkbox" id="video_playback_switch" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
					<div id="settings-content-playback">
						<div class="settings-content-row">
							<div>
								
								<div class="item-string"></div>
							</div>
							<label class="switch">
								<input type="checkbox" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</dialog>
		<main>
			<div id="video-wrapper">
				<div id="player-video-controles">
					<span id="pip-btn" class="player-video-controles-item center">
						<img src="../svg/miniplayer-sharp.svg" alt="miniplayer" />
					</span>
					<span id="fullscreen-btn" class="player-video-controles-item center"
						><img
							src="../svg/fullscreen-sharp.svg"
							class="icons player-video-controles-icon icon-size-large"
							alt="fullscreen"
					/></span>
				</div>
				<AudioCloud-Controls fullscreen="false">
					<input
						type="range"
						min="0"
						max="100"
						step="any"
						value="0"
						id="player-track-duration-slider"
						class="player-track-sliders"
					/>
					<progress
						max="100"
						value="0"
						class="player-track-sliders"
						id="player-track-buffered-progress"
					></progress>
					<AudioCloud-Controles-inner>
						<div id="player-autoplay">
							Autoplay
							<label class="switch">
								<input type="checkbox" class="checkbox_input" id="player-autoplay-checkbox" />
								<span class="slider"></span>
							</label>
						</div>
						<div id="player-controles">
							<div id="player-controles-timestamp">
								<span id="player-controles-timestamp-currentTime">NaN</span>&nbsp;/&nbsp;<span
									id="player-controles-timestamp-duration"
									>NaN</span
								>
							</div>
							<div id="player-controles-basic-btn">
								<button type="button" class="std-btn-round" id="previous_track">
									<img class="icons" src="../svg/play-skip-back.svg" alt="skip-back" />
								</button>
								<button type="button" class="std-btn-round" id="player-play">
									<svg viewBox="0 0 24 24">
										<path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
									</svg>
								</button>
								<button type="button" class="std-btn-round" id="next_track">
									<img class="icons" src="../svg/play-skip-forward.svg" alt="skip-forward" />
								</button>
							</div>
						</div>
						<div id="volume-wrapper">
							<div>
								<img id="repeat-btn" class="icons padding" src="../svg/repeat.svg" alt="shuffle" />
							</div>
							<div>
								<img
									id="shuffle-btn"
									class="icons padding iron-icon"
									src="../svg/shuffle.svg"
									alt="shuffle"
								/>
							</div>
							<div>
								<img
									id="exit_fullscreen_btn"
									class="icons"
									src="../svg/fullscreen-exit-sharp.svg"
									alt="exit_fullscreen"
								/>
							</div>
							<input type="range" min="0" step="any" max="100" id="volume" />
							<img
								class="icons padding iron-icon"
								id="volume_icon"
								src="../svg/volume-high-outline.svg"
								alt="volume-high"
							/>
						</div>
					</AudioCloud-Controles-inner>
				</AudioCloud-Controls>
			</div>
			<div id="container">
				<div id="information">
					<div id="player_inner_wrapper">
						<div id="player_title-wrapper">
							<AudioCloud-TrackTitle-outer
								><AudioCloud-TrackTitle-inner></AudioCloud-TrackTitle-inner
							></AudioCloud-TrackTitle-outer>
							<AudioCloud-AddedOn></AudioCloud-AddedOn>
						</div>
						<AudioCloud-Description></AudioCloud-Description>
						<AudioCloud-Artist></AudioCloud-Artist>
					</div>
				</div>
			</div>
			<section id="next_media">
				<div id="next_media_list_wrapper">
					<header id="next_media_list_header">
						<AudioCloud-heading>Next title</AudioCloud-heading>
					</header>
					<div id="next-media-list_inner_wrapper">
						<div id="autoplay_status"></div>
						<div id="next_media_list"></div>
					</div>
				</div>
			</section>
		</main>
		<template id="card-template">
			<div class="next_media_item">
				<span class="next_media_item-img-wrapper"><img thumbnail height="32px" width="32px" /></span>
				<div class="Media_Showcase_title_artist">
					<div class="Media_Showcase_Title item-string song-title" title></div>
					<div class="Media_Showcase_Artist item-string" artist></div>
				</div>
				<div class="Media_Showcase_duration" duration></div>
			</div>
		</template>
		<template id="searchHistory-Temp">
			<div class="searchHistory-item nav-search">
				<div class="searchHistory-item-img nav-search center">
					<img class="nav-search" height="24px" width="24px" src="/svg/search-history-outline.svg" alt="" />
				</div>
				<div class="nav-search"></div>
			</div>
	</template>
	</body>
</html>
