<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AudioCloud</title>
		<link rel="stylesheet" href="./css/global.css" />
		<link rel="stylesheet" href="./css/search.css" />
		<script defer src="./js/global.js"></script>
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png" />
		<link rel="manifest" href="../favicons/site.webmanifest" />
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#3ea6ff" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#3ea6ff" />
		<script>
			// EJS Variables
			const media = <%- data %>;
		</script>
		<script defer src="../js/search.js"></script>
	</head>
	<body>
		<header id="page-header">
			<div class="icon-spacing-right" id="menu">
				<a id="menu-link" href="/">
					<img class="icons icon-spacing-right" src="/svg/musical-notes-outline.svg" alt="music-note" />
					<span class="bold">AudioCloud</span>
				</a>
			</div>
			<div class="AudioCloud-nav-bar">
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/'" >
					Start
				</div>
				<div class="AudioCloud-nav-bar-item" onclick="window.location.href = '/library'">library</div>
				<div class="AudioCloud-nav-bar-item nav-search" id="nav-search-btn" data-page="current">Search</div>
				<div id="AudioCloud-nav-bar-search-wrapper">
					<div id="AudioCloud-nav-bar-search-innerwrapper">
						<form id="AudioCloud-nav-bar-search" action="/search">
							<div id="input-wrapper">
								<img id="input-arrow-back" src="/svg/arrow-back-outline.svg" alt="" />
								<input
									autocomplete="off"
									class="std_btn no-margin noborder nav-search"
									spellcheck="true"
									placeholder="Search for music ..."
									type="search"
									name="query"
									id="searchquery_input"
								/>
							</div>
							<input type="hidden" name="mediatype" value="" />
							<input type="hidden" name="type" value="search" />
							<select name="mode" class="std_btn no-margin no_padding-top-bot nav-search noborder">
								<option value="standard">Standard</option>
								<option value="strict">Strict</option>
							</select>
							<button
								class="std_btn noborder no-margin square_button no_margin_left center nav-search"
								onclick="return validation(this.parentElement.children[0])"
								type="submit"
							>
								<img class="icons nav-search" src="../svg/search-outline.svg" alt="search" />
							</button>
						</form>
						<div id="searchHistory" class="nav-search"></div>
					</div>
				</div>
			</div>
			<div class="center" id="account-icon-container">
				<img id="account-icon" src="../svg/account.svg" class="icons" alt="account-icon" />
			</div>
			<div id="account-card" visibility="false">
				<header id="account-card-header">
					<img id="account-icon" src="../svg/account_filled.svg" class="icons icon-size-large" alt="" />
				</header>
				<div id="first-account-card-inner-wrapper" class="account-card-inner-wrapper">
					<a id="settings-btn" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/logout.svg" alt="" /></div>
						<div class="item-string">Log out</div></a
					>
				</div>
				<div class="account-card-inner-wrapper">
					<a id="settings-btn" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/settings.svg" alt="" /></div>
						<div class="item-string">Settings</div></a
					>
					<a href="/history" class="account-item"
						><div class="account-item-icon">
							<img class="icons" src="../svg/search-history-outline.svg" alt="" />
						</div>
						<div class="item-string">History</div></a
					>
					<a href="/upload" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/cloud_upload.svg" alt="" /></div>
						<div class="item-string">Upload</div></a
					>
					<a href="/edit" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/pen.svg" alt="" /></div>
						<div class="item-string">Edit</div></a
					>
					<a href="/delete" class="account-item"
						><div class="account-item-icon"><img class="icons" src="../svg/bin.svg" alt="" /></div>
						<div class="item-string">Delete</div></a
					>
					<a href="/impressum" class="account-item"
						><div class="account-item-icon">
							<img class="icons" src="../svg/open-in-new-outline.svg" alt="" />
						</div>
						<div class="item-string">Impressum</div></a
					>
				</div>
			</div>
		</header>
		<dialog id="settings">
			<header>
				<AudioCloud-Heading> Settings </AudioCloud-Heading>
				<div><img src="../svg/close.svg" id="settings-close" class="icons iron-icon" alt="close" /></div>
			</header>
			<div id="settings-page">
				<div id="settings-listbox">
					<div class="settings-item" data-active="true">General</div>
					<div class="settings-item">Playback</div>
				</div>
				<div id="settings-content-wrapper">
					<div id="settings-content-general">
						<div class="settings-content-row">
							<div>
								Audio on playback only
								<div class="item-string item-paragraph">
									if disabled and a video track is provided, the video will play. (Needs reload)
								</div>
							</div>
							<label class="switch">
								<input type="checkbox" id="video_playback_switch" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
					<div id="settings-content-playback">
						<div class="settings-content-row">
							<div>
								<div class="item-string"></div>
							</div>
							<label class="switch">
								<input type="checkbox" class="checkbox_input" />
								<span class="slider"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</dialog>
		<main>
			<div id="wrapper"></div>
		</main>
		<template id="noresults">
			<div class="center">
				<h2>No results found</h2>
				<div>Try different keywords</div>
			</div>
		</template>
		<template id="wrapper-template">
			<div id="playlist-content">
				<h2>Playlists</h2>
				<div></div>
			</div>
			<div id="audio-content">
				<h2>Title</h2>
				<div></div>
			</div>
			<div id="video-content">
				<h2>Videos</h2>
				<div></div>
			</div>
		</template>
		<template id="card-template">
			<a href="">
				<div class="next_media_item">
					<span
						class="next_media_item-img-wrapper"
						onmousemove="this.children[0].children[1].style.display = 'none';"
						onclick="this.children[0].children[0].style.display = 'none'; this.children[0].children[1].style.display = 'block'"
						><div class="img-hover search">
							<img src="../svg/play-sharp.svg" class="icons" alt="play" />
						</div>
						<img thumbnail
					/></span>
					<div>
						<div class="song-title" title></div>
						<div class="Media_Showcase_Artist" artist></div>
					</div>
				</div>
			</a>
		</template>
		<template id="searchHistory-Temp">
			<div class="searchHistory-item nav-search">
				<div class="searchHistory-item-img nav-search center">
					<img class="nav-search" height="24px" width="24px" src="/svg/search-history-outline.svg" alt="" />
				</div>
				<div class="nav-search"></div>
				<div class="center nav-search delete-suggestion ds">
					<img class="nav-search ds" src="/svg/bin.svg" height="24px" width="24px" alt="" />
				</div>
			</div>
		</template>
	</body>
</html>
