#edit_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#edit_form-wrapper {
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}