/*@import url("https://fonts.googleapis.com/css2?family=Montserrat");*/
* {
	font-family: "Montserrat", sans-serif;
	color: white;
	--hover: #4e4e4e;
	--border: #404040;
	--border-light: #4e4e4e;
	--header: #202020;
	--bg-page: #181818;
	--box-bg-light: #333333;
	--box-bg-dark: #212121;
	--gray-font-color: #aaaaaa;
	--edit-hover: rgb(99, 99, 99);
	--currentSong-bg: #303030;
	--hover: #383838;
	--AudioCloud-nav-bar: #747474;
	--disabled: rgba(255, 255, 255, 0.3);
	--theme-color: #1994ff;
	transition: 250ms all;
}

html,
body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--bg-page);
	overflow-x: hidden;
	display: flex;
	flex-flow: column;
	height: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
}
.underline_link:hover {
	text-decoration: underline;
}

::-moz-selection {
	background: #3ea6ff;
}

::selection {
	background: #3ea6ff;
}

.slide:hover,
.slide:focus {
	box-shadow: inset 8em 0 0 0 var(--hover);
	z-index: 100;
}

.std_btn,
.std_btn_file_btn::file-selector-button {
	background: none;
	border: 2px solid #fff;
	font: inherit;
	line-height: 1;
	padding: 0.5em 1em 0.5em 1em;
	cursor: pointer;
	color: white;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 8px 8px 8px 0;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

#Icon_btn {
	border-radius: 50px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2em;
	cursor: pointer;
	background-color: var(--color);
	color: var(--standart_gray);
	transition: 500ms;
	border: 1px solid var(--color);
}

.icons {
	cursor: pointer;
	height: 1em;
	width: 1em;
	font-size: 24px;
}

#home_btn {
	display: flex;
	align-items: center;
	margin-top: 40px;
}

/* SCROLL BAR STYLING */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #323232;
}

/* SCROLL BAR STYLING */

.bold {
	font-size: 20px;
	font-weight: bold;
}

.icon-size-small {
	font-size: 1.5em;
}
.icon-size-medium {
	font-size: 2em;
}
.icon-size-large {
	font-size: 2.5em;
}
.icon-spacing-right {
	margin-right: 10px;
}
.icon-spacing-left {
	margin-right: 10px;
}

#menu {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 20px;
	z-index: 1000;
}

#menu-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

#page-header {
	z-index: 100;
	background-color: var(--header);
	min-width: 100vw;
	min-height: 4rem;
	display: flex;
	flex: 0 1 auto;
	position: relative;
}

.square_button {
	padding: 0.5em !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.no_margin_left {
	margin-left: 0;
}

.no_margin_right {
	margin-right: 0;
}

.no_padding-top-bot {
	padding-bottom: 0;
	padding-top: 0;
}
main {
	flex-grow: 1;
}

option {
	background-color: var(--bg-page);
	border: var(--border) 1px solid;
}

.img-wrapper {
	height: 160px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	width: max-content;
	overflow: hidden;
	min-width: 160px;
	position: relative;
}

.img-hover:hover {
	opacity: 1;
}

.loading_spinner {
	display: none;
	animation: animate linear 2.5s infinite;
}

@keyframes animate {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

.img-hover {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	width: 100%;
	height: inherit;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
}

.search {
	width: inherit;
}

.img-outer {
	margin-bottom: 5px;
	width: max-content;
}

.box {
	position: relative;
	margin: 0 16px 40px 0;
	width: max-content;
}

.media-showcase-row-heading {
	margin: 30px 0 30px 0;
}

.media-showcase-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.media-showcase-row::-webkit-scrollbar {
	display: none;
}

.song-title {
	font-weight: 600;
	margin-bottom: 4px;
	line-height: 20px;
}

#account-icon-container {
	margin-left: auto;
	height: 100%;
	width: 48px;
	z-index: 1000;
}

#account-icon-container > * {
	cursor: pointer;
}

#account-card {
	background-color: var(--box-bg-dark);
	border: solid 1px var(--border);
	width: 300px;
	outline: none;
	z-index: 103;
	position: fixed;
	right: 20px;
	top: 50px;
	margin: 0;
	display: none;
	flex-direction: column;
}

.account-card-inner-wrapper {
	padding: 8px 0 8px 0;
}

#first-account-card-inner-wrapper{
	border-bottom: 1px solid var(--border);
}

#account-card[visibility="true"] {
	display: flex;
}

.account-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	cursor: pointer;
	transition: 100ms all;
	padding: 0 36px 0 16px;
}

.account-item:hover {
	background-color: var(--hover);
}

.account-item > * {
	height: 100%;
	align-items: center;
	display: flex;
}
.account-item-icon {
	margin-right: 16px;
}

#account-card-header {
	padding: 16px;
	border-bottom: 1px solid var(--border);
	display: flex;
}

#settings[open] {
	background-color: var(--box-bg-light);
	border-radius: 5px;
	border: 1px solid var(--border);
	padding: 0;
	display: flex;
	flex-direction: column;
	max-height: 939px;
	max-width: 1085px;
	width: 60vw;
	height: 60vh;
	min-width: 500px;
	z-index: -1;
}

dialog::backdrop {
	opacity: 0.8;
	background-color: #000;
}

#settings-page {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex: 1;
	overflow-y: auto;
}

AudioCloud-Heading {
	font-size: 20px;
	display: flex;
}

#settings-listbox {
	display: block;
	width: 230px;
	height: 100%;
}

.settings-item {
	padding: 0 16px;
	min-height: 48px;
	display: flex;
	transition: 100ms all;
	align-items: center;
	font-size: 14px;
	cursor: pointer;
}

.item-string {
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.settings-item:hover {
	background-color: #464646;
}

.settings-item[data-active="true"] {
	background-color: var(--hover);
}

#settings-content-wrapper {
	flex: 1;
	padding: 24px 24px 24px 48px;
	border-left: 1px solid var(--border-light);
}

.settings-content-row {
	border-bottom: 1px solid var(--border-light);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 0;
	align-items: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	margin-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(71, 71, 71);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 3px;
	background-color: rgb(133, 133, 133);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

.checkbox_input:checked + .slider:before {
	background-color: #3ea6ff;
}

.checkbox_input:checked + .slider {
	background-color: #14334e;
}
.checkbox_input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.item-paragraph {
	margin-top: 8px;
}

.AudioCloud-nav-bar {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 4px 0 4px 0;
}

.no-margin {
	margin: 0;
}

.AudioCloud-nav-bar-item {
	margin: 0 20px 0 20px;
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	color: var(--AudioCloud-nav-bar);
	cursor: pointer;
	height: 100%;
}

.AudioCloud-nav-bar-item:hover {
	color: #fff;
	transition: 100ms all;
}

#AudioCloud-nav-bar-search > * {
	background-color: var(--header);
	height: 48px;
}

#AudioCloud-nav-bar-search {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	border: 2px solid #fff;
}

#searchHistory {
	display: none;
	flex-direction: column;
	position: relative;
	width: 100%;
	border: 2px solid #fff;
	border-top: 0;
	padding: 8px 0 8px 0;
	background-color: var(--box-bg-dark);
}

#searchHistory[visible] {
	display: flex;
}

#AudioCloud-nav-bar-search-wrapper {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	display: none;
	justify-content: center;
	width: 100%;
	height: 64px;
	padding: 8px 0;
}

.searchHistory-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 48px;
}

.searchHistory-item:hover {
	background-color: var(--hover);
}

.searchHistory-item-img {
	padding: 0 16px 0 16px;
}

.searchHistory-item > * {
	color: var(--gray-font-color);
}

#AudioCloud-nav-bar-search-innerwrapper {
	max-width: 860px;
	width: 40vw;
	height: 64px;
	display: flex;
	align-items: center;
	position: absolute;
	flex-direction: column;
	top: 8px;
}

#AudioCloud-nav-bar-search-wrapper[opened] {
	display: inline-flex;
	z-index: 100;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.delete-suggestion {
	padding: 0 16px 0 16px;
	position: absolute;
	right: 0;
	cursor: pointer;
	box-sizing: border-box;
}

.AudioCloud-nav-bar-item[data-page="current"] {
	color: #fff;
}

#searchquery_input {
	font-size: 18px;
	width: 100%;
	border-left: 0;
	border-right: 0;
	cursor: text;
}

#input-wrapper {
	display: flex;
	flex-direction: row;
	width: 35vw;
}

input[type="search"]::-webkit-search-cancel-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 1.2em;
	width: 1.2em;
	background: url(/assets/svg/close.svg) no-repeat;
	background-size: contain;
	pointer-events: all;
	cursor: pointer;
}

#input-arrow-back {
	padding: 10px;
	cursor: pointer;
}

.noborder {
	border: none;
	appearance: none;
}

.fullspace {
	height: 100%;
	width: 100%;
}

@media (min-width: 616px) and (max-width: 935px) {
	#next_media_list_wrapper {
		padding: 0 32px 0 32px;
		width: 100%;
		max-width: none;
		right: auto;
	}
}
[thumbnail] {
	object-fit: contain;
	width: 100%;
	height: 160px;
}

.next_media_item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	height: 56px;
	align-items: center;
	padding: 0 8px;
	position: relative;
}

.Media_Showcase_title_artist {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-self: center;
	min-width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}

.next_media_item-img-wrapper {
	height: 32px;
	width: 32px;
	background-color: black;
	margin-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Media_Showcase_duration {
	padding: 0 0 0 8px;
	color: var(--gray-font-color);
}

#contextmenu {
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: var(--box-bg-dark);
	border: 1px solid var(--border);
}

#notification-banner {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 0;
	background-color: var(--currentSong-bg);
	border-radius: 3px;
	border: 1px solid var(--border);
	padding: 20px 10px 20px 10px;
	opacity: 0;
	z-index: 10000;
}

#notification-banner[data-visibility] {
	opacity: 1;
	bottom: 40px;
}
.addToPlaylist-item {
	padding: 0 16px;
	min-height: 48px;
	min-width: 100px;
	display: flex;
	transition: 100ms all;
	align-items: center;
	font-size: 14px;
	cursor: pointer;
}
.addToPlaylist-item:hover {
	background-color: var(--hover);
}

#addToPlaylist-playlist-wrapper[open] {
	background-color: var(--box-bg-light);
	border-radius: 5px;
	border: 1px solid var(--border);
	padding: 0;
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

#addToPlaylist-playlist-wrapper > div {
	padding: 8px 0 8px 0;
}

.modal_heading {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	border-bottom: 1px solid var(--border-light);
}

.navigate-round-btn {
	padding: 0;
	border-radius: 50%;
	border: #fff 2px solid;
	background-color: transparent;
	outline: none;
	height: 48px;
	width: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	cursor: pointer;
}

.navigation-tracks {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

button[disabled] {
	color: var(--disabled);
	border-color: var(--disabled);
}

button[disabled] > img {
	filter: invert(42%) sepia(0%) saturate(16%) hue-rotate(229deg) brightness(86%) contrast(95%);
}

.Showcase-heading {
	display: flex;
	justify-content: space-between;
}

#recent-songs {
	width: 100%;
}

#sub-page-title {
	font-style: italic;
	font-size: 14px;
	line-height: 24px;
}

#menu-wrapper {
	display: flex;
}

.iron-icon {
	filter: invert(64%) sepia(0%) saturate(169%) hue-rotate(243deg) brightness(92%) contrast(71%);
}

.link_std {
	color: -webkit-link;
	color: LinkText;
}