html,
body {
	max-width: 100vw;
	max-height: 100%;
}

video {
	width: 100%;
	height: 100%;
	left: 55px;
	top: 0px;
	z-index: 5;
}

video[fullscreen="true"] {
	height: auto;
}

#video-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-inline: auto;
	background-color: black;
	height: 75vh;
	max-height: calc(100vh - 169px);
	min-height: 480px;
}

.normal-player {
	width: 40%;
	max-width: 1000px;
	margin-inline: 0 !important;
}

#information {
	padding-top: 20px;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--border);
}
AudioCloud-Description {
	padding-top: 4px;
	padding-bottom: 4px;
	word-break: break-word;
}
AudioCloud-TrackTitle-outer {
	line-height: 2.6rem;
	font-weight: 400;
	word-break: break-word;
	font-size: 24px;
	position: relative;
	word-break: break-word;
}

AudioCloud-TrackTitle-inner {
	line-height: 2em;
}

AudioCloud-Artist {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 1.3rem;
}

AudioCloud-AddedOn {
	color: #979797;
	margin-bottom: 2px;
}

#container {
	margin-left: 20px;
	position: relative;
	height: 150px;
	display: block;
	margin-right: 20px;
}

#player_inner_wrapper {
	display: flex;
	flex-direction: column;
}

#player_title-wrapper {
	border-bottom: 1px solid var(--border);
	margin-bottom: 0.5em;
	display: flex;
	flex-direction: column;
}

#next_media {
	position: relative;
	width: 100vw;
	height: 80vh;
	margin-top: 56px;
}

#next_media_list_header {
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--border);
}

#next_media_list_wrapper {
	right: 0;
	padding: 0 48px 0 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 36%;
	max-width: 800px;
	height: 100%;
}

#autoplay_status {
	margin: 16px 16px 12px 8px;
	color: var(--gray-font-color);
}

#next-media-list_inner_wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
}

#next_media_list {
	position: relative;
	width: 100%;
	height: 90%;
	margin: 16px 0 0 0;
}

@media (min-width: 616px) and (max-width: 935px) {
	#next_media_list_wrapper {
		padding: 0 32px 0 32px;
		width: 100%;
		max-width: none;
		right: auto;
	}
}
[thumbnail] {
	object-fit: contain;
	width: 100%;
	height: 32px;
}

.next_media_item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	height: 56px;
	align-items: center;
	padding: 0 8px;
	position: relative;
}

.Media_Showcase_title_artist {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-self: center;
	min-width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}

.next_media_item-img-wrapper {
	height: 32px;
	width: 32px;
	background-color: black;
	margin-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#next_media_list::-webkit-scrollbar-track {
	background-color: #161616;
}

#next_media_list::-webkit-scrollbar {
	width: 6px;
	background-color: #161616;
}

#next_media_list::-webkit-scrollbar-thumb {
	background-color: #323232;
}

.Media_Showcase_duration {
	padding: 0 0 0 8px;
	color: var(--gray-font-color);
}

.player-track-sliders {
	position: absolute;
	transition: none;
	height: 2px;
	width: 100vw;
	-webkit-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
	margin: 0;
}

#player-track-buffered-progress[value] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#player-track-buffered-progress::-moz-progress-bar {
	background-color: #4c4c4c;
}
#player-track-buffered-progress::-webkit-progress-value {
	background-color: #4c4c4c;
}

#player-track-duration-slider {
	background-image: linear-gradient(#3ea6ff, #3ea6ff);
	background-size: 0% 100%;
	background-color: transparent;
	z-index: 5;
}

#player-track-buffered-progress {
	background-color: #383838;
}

#player-track-duration-slider::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

#player-track-duration-slider::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

#player-track-duration-slider::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

#player-track-duration-slider::-webkit-slider-thumb {
	border-radius: 50px;
	background-color: var(--theme-color);
	appearance: none;
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	cursor: pointer;
	outline: none;
	border: none;
}

#player-track-duration-slider::-moz-range-thumb {
	border-radius: 50px;
	background-color: var(--theme-color);
	height: 20px;
	width: 20px;
	cursor: pointer;
	outline: none;
	appearance: none;
	border: none;
}

AudioCloud-Controls {
	height: 100px;
	width: 100vw;
	position: fixed;
	bottom: 0px;
	z-index: 50;
	transition: all 500ms ease-out;
}

AudioCloud-Controls[fullscreen="false"] {
	background-color: var(--header);
	opacity: 1;
}

AudioCloud-Controls[fullscreen="true"] {
	background-color: transparent;
	opacity: 0;
}

AudioCloud-Controls[fullscreen="true"]:hover {
	opacity: 1;
}

AudioCloud-Controls[fullscreen="true"]::before {
	content: "";
	position: absolute;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
	width: 100%;
	aspect-ratio: 6 / 1;
	z-index: -1;
	pointer-events: none;
}

AudioCloud-Controles-inner {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

#player-controles {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	flex-direction: column;
}

#player-controles-basic-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#player-controles-timestamp {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.std-btn-round {
	background-color: #3ea6ff;
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
}

#player-controles-timestamp,
#player-controles-timestamp > * {
	color: #aaa;
	width: 100%;
}

#player-controles-timestamp-currentTime {
	text-align: end;
}

#player-controles-timestamp-duration {
	text-align: start;
}

#player-play {
	height: 50px;
	width: 50px;
	transition: none;
	margin-left: 8px;
	margin-right: 8px;
}

#player-autoplay {
	height: 100%;
	justify-content: center;
	left: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#player-video-controles {
	width: 100%;
	bottom: 0;
	position: absolute;
	z-index: 6;
	opacity: 0;
	height: 48px;
	display: flex;
	justify-content: flex-end;
	transition: 200ms all;
}
.player-video-controles-item {
	cursor: pointer;
	height: 100%;
	width: 48px;
	padding: 0 2px 0 2px;
}

.player-video-controles-icon:hover {
	animation: video-controles-item 0.3s linear forwards alternate;
}

@keyframes video-controles-item {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.2;
	}
	100% {
		scale: 1;
	}
}

#fullscreen-btn {
	margin-right: 10px;
}

#player-video-element::-webkit-media-controls {
	display: none;
}

#player-video-element {
	cursor: none;
}

#volume-wrapper > * {
	position: relative;
	display: block;
}

.padding {
	padding: 8px;
	cursor: pointer;
}

#exit_fullscreen_btn {
	display: none;
}

.iron-icon {
	filter: invert(64%) sepia(0%) saturate(169%) hue-rotate(243deg) brightness(92%) contrast(71%);
}

#volume-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-right: 5px;
	margin-left: auto;
	width: 200px;
	padding: 0 5px 0 0;
}

#volume {
	background-color: #909090;
	z-index: 5;
	transition: none;
	height: 2px;
	width: 100px;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 5px;
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
	margin: 0;
	background-image: linear-gradient(#ffffff, #ffffff);
	background-size: 0% 100%;
}

#volume::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

#volume::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

#volume::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

#volume::-webkit-slider-thumb {
	border-radius: 50px;
	background-color: #ffffff;
	appearance: none;
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	cursor: pointer;
	outline: none;
	border: none;
}

#volume::-moz-range-thumb {
	border-radius: 50px;
	background-color: #ffffff;
	height: 15px;
	width: 15px;
	cursor: pointer;
	outline: none;
	appearance: none;
	border: none;
}

.next_media_item[data-current-song="true"] {
	background-color: var(--currentSong-bg);
}
