html,
body {
	max-width: 100vw;
	max-height: 100vh;
}

video {
	width: 100%;
	height: 100%;
	left: 55px;
	top: 0px;
}

#video-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 0;
	outline: 0;
	width: 100%;
	top: 49px;
	height: 56.25vw;
	max-height: calc(100vh - 169px);
	min-height: 480px;
	background-color: black;
}

#information {
	padding-top: 20px;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--border);
}
AudioCloud-Description {
	padding-top: 4px;
	padding-bottom: 4px;
}
AudioCloud-TrackTitle {
	line-height: 2.6rem;
	font-weight: 400;
	word-break: break-word;
	font-size: 24px;
	position: relative;
}

AudioCloud-Artist {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 1.3rem;
}

AudioCloud-AddedOn {
	color: #979797;
}

#container {
	width: 100vw;
	position: relative;
	height: fit-content;
	display: flex;
}

#player_inner_wrapper {
	display: flex;
	flex-direction: column;
}
