.edit_icon {
	color: var(--bg-page);
	transition: 80ms;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit_icon:hover {
	color: var(--edit-hover);
}

#Media_Showcase_wrapper-edit {
	margin-left: 2em;
	margin-top: 2em;
	display: flex;
	flex-direction: column;
}

.box-search {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--border);
	align-items: center;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
}

#filter-wrapper {
	display: flex;
	flex-direction: column;
}

#filter-Modal {
	position: relative;
	background-color: var(--bg-page);
	border: #fff solid 1px;
	margin: 0.5em;
}

label {
	display: flex;
	justify-content: space-between;
}

#edit_form {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	flex-direction: column;
}

main {
	width: 100vw;
	display: flex;
	justify-content: center;
	height: 100%;
}

#wrapper {
	display: flex;
	flex-direction: column;
	width: 40vw;
	max-width: 1000px;
}

[thumbnail] {
	object-fit: contain;
	width: 60px;
	height: 60px;
}


.next_media_item-img-wrapper {
	height: 60px;
	width: 60px;
	background-color: black;
	margin-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.next_media_item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	height: 70px;
	align-items: center;
	padding: 5px;
	cursor: pointer;
}

.Media_Showcase_Artist {
	line-height: 1.2;
	font-size: 14px;
	font-weight: 400;
}